<div class="uk-margin">
  <form action="" class="uk-form">
    <div class="uk-margin">
      <label for="name">Имя</label>
      <input class="uk-input" type="text" name="name" id="name" placeholder="Имя кошелька" value="{{ .wallet.Name }}">
    </div>
    <div class="uk-margin">
      <label for="token">Токен</label>
      <input class="uk-input" type="text" name="token" id="token" placeholder="Токен доступа" value="{{ .wallet.Token }}">
    </div>
    <div class="uk-margin">
      <label for="limit">Лимит</label>
      <input class="uk-input" type="text" name="limit" id="limit" placeholder="Месячный лимит" value="{{ .wallet.Limit }}">
    </div>
    <div class="uk-margin">
      <button class="uk-button uk-button-primary">Сохранить</button>
    </div>
  </form>
</div>
