<form class="uk-form" method="post" action="/users/create">
  <legend>Добавить пользователя</legend>
  <div class="uk-margin">
    <label for="login">Логин</label>
    <input class="uk-input" type="text" name="login" id="login">
  </div>
  <div class="uk-margin">
    <label for="password">Пароль</label>
    <input class="uk-input" type="password" name="password" id="password">
  </div>
  <div class="uk-margin">
    <button>Добавить</button>
  </div>
</form>

<h4>Настройка биржи localbitcoins.net</h4>
<form action="/account/setting" method="post">
  <div class="uk-margin">
    <label for="key">Ключ</label>
    <input class="uk-input" type="text" name="key" id="key" value="{{ .User.LocalBitcoinsKey }}">
  </div>
  <div class="uk-margin">
    <label for="secret">Секрет</label>
    <input class="uk-input" type="text" name="secret" id="secret" value="{{ .User.LocalBitcoinsSecret }}">
  </div>
  <button class="uk-button uk-button-primary">Сохранить</button>
</form>
