<div class="uk-margin">
  <div class="uk-flex">
    <div class="uk-width-1-2">
      <ul class="uk-breadcrumb">
        <li><a href="/dashboard">Группы</a></li>
        <li><span> {{ .group.Name }} </span></li>
      </ul>
    </div>
    <div class="uk-width-1-2">
      <a href="/groups/{{ .group.ID }}/setting" class="uk-button uk-button-primary uk-align-right">Настройки</a>
    </div>
  </div>

</div>

<div class="uk-grid">
  <div class="uk-width-3-4@m">

    <div class="uk-margin">
      <div class="uk-flex uk-flex-wrap">
        {{ range .wallets }}
          <a href="/wallets/{{ .ID }}"><div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-left uk-margin-bottom">
              <h3 class="uk-card-title">{{ .String }}</h3>
              <p><b>{{ .Balance }}</b></p>
          </div></a>
          {{ end }}
        </div>
    </div>
  </div>
  <div class="uk-width-expand uk-margin">
      <h4>Добавить кошелёк:</h4>
      <form action="/wallets/create" class="uk-form" method="post">
        <input type="hidden" name="group" class="uk-input" value="{{ .group.ID }}">

        <div class="">
          <div class="uk-margin">
            <label for="token">Токен</label>
            <input type="text" id="token" name="token" class="uk-input" placeholder="Токен для доступа к АПИ">
          </div>
          <div class="uk-width-expand">
            <button class="uk-button uk-button-primary">Добавить</button>
          </div>
        </div>

      </form>
    <h4>Информация</h4>
    <table class="uk-table">
      <tr>
        <td>Баланс группы:</td>
        <td>{{ .group.Counters.Balance }}</td>
      </tr>
      <tr>
        <td>Всего кошельков:</td>
        <td>{{ .group.Counters.Count }}</td>
      </tr>
    </table>
    <h4>Перевести всё</h4>
    <form action="/transfer/groups/{{ .group.ID }}" method="post" class="uk-form">
      <div class="uk-margin">
        <label for="to"></label>
        <input type="text" placeholder="Номер карты или кошелёк" class="uk-input" name="to" id="to">
      </div>
      <div class="uk-margin">
        <button class="uk-button uk-button-primary">Перевести</button>
      </div>
    </form>
  </div>
</div>
