{{ if .req_disabled }}{{else}}
<div class="uk-section uk-section-primary uk-light">
    <div class="uk-container">

        <h3>Qiwi-админ</h3>

        <div class="uk-grid-match uk-child-width-1-2@m uk-grid">
            <div>
                <p>Удобная администрация qiwi-кошельков</p>
                <div class="panel">
                  {{ with .walletCount }}Всего кошельков: <b>{{ . }}</b>{{end}}<br />
                  {{ with .usersCount }}Пользователей в системе: <b>{{ . }}</b>{{end}}
                </div>
            </div>
            <div>
                <p>Регистрация занимает 2 минуты и не требует подтверждения</p>
                <form action="/reg" method="post" class="uk-form">
                  <div class="uk-margin">
                    <label for="login">Логин</label>
                    <input id="login" type="text" class="uk-input" name="login" placeholder="Придумайте логин">
                  </div>
                  <div class="uk-margin">
                    <label for="pass">Пароль</label>
                    <input id="pass" type="password" class="uk-input" name="password" placeholder="Придумайте пароль">
                  </div>
                  <div class="uk-margin">
                    <button class="uk-button uk-button-primary">Зарегистрироваться</button>

                      или <a href="/auth">Войти</a>
                  </div>
                </form>

            </div>
        </div>

    </div>
</div>
{{end}}
