<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/css/uikit.min.css">
</head>
<body>
    <nav class="uk-navbar uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="/">Qiwi-админ</a></li>
          </ul>
      </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
              <li>
                  <a href="/auth">Войти</a>
              </li>
          </ul>
      </div>
    </nav>{{ with .Flash.ErrorMsg }}
    <div class="container">
      <div class="uk-alert uk-alert-danger">
        {{ . }}
        </div>
      </div>{{ end }}
    {{ yield }}
</body>
</html>
