<div class="uk-container uk-margin">
  <div class="uk-flex uk-flex-center">
    <div>
      <form action="" method="post" class="uk-form">
        <div class="uk-margin">
          <label for="login">Логин</label>
          <input id="login" type="text" class="uk-input" name="login" placeholder="Придумайте логин">
        </div>
        <div class="uk-margin">
          <label for="pass">Пароль</label>
          <input id="pass" type="password" class="uk-input" name="password" placeholder="Придумайте пароль">
        </div>
        <div class="uk-margin">
          <button class="uk-button uk-button-primary">Зарегистрироваться</button>

            или <a href="/auth">Войти</a>
        </div>
      </form>
    </div>
  </div>
</div>
